.form * {
	font-size: 18px;
}

.form input {
	padding: 15px 20px;
	margin-left: 30px;
	
	border-radius: 5px;
	border: 1px solid #009879;
	outline: none;
}

.addBtn {
	margin-left: 20px;
	padding: 15px 40px;
	background-color: #009879;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 17px;
	cursor: pointer;
}

.addBtn:hover {
	background-color: rgb(8, 125, 86);
	color: #fff;
	transition: .3s;
}

.filter {
	padding: 15px 20px;
    width: 10%;
    text-align: center;
    font-size: 1.2rem;
	border-radius: 5px;
	border: 1px solid #009879;
	outline: none;
}


.styled-table {
	border-collapse: collapse;
	font-size: 1.5em;
	font-family: sans-serif;
	width: 90%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

.styled-table th,
.styled-table td {
	padding: 12px 10px;
	border: 1px solid #009879;
}

.styled-table tbody tr {
	border-bottom: 2px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.save {
	margin-left: 20px;
	padding: 15px 20px;
	background-color: rgb(8, 18, 125);
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 17px;
	cursor: pointer;
}

.save:hover {
	background-color: #0d5fc3;
	color: #fff;
	transition: .5s ease-in; 
}

.cancel {
	background-color: rgb(197, 24, 24);
	margin-top: 9px;
	padding: 15px 12px;
}

.cancel:hover {
	background-color: red;
	transition: 0.5s ease-in;
}

.delete {
	background-color: rgb(197, 24, 24);
}

.delete:hover {
	background-color: red;
	transition: .4s ease-in;
}